{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row"> 
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-category list-category-flush">
        <li class="list-category-item">
          Python
        </li>
        <li class="list-category-item">
          Django
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Текст страницы "Технологии"</p> 
    </article>
  </div>
{% endblock %} 