{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %} 
  Пинг
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="mb-4 text-center">Пинг</h2>
        <form method="post" action="{% url 'secret_func:ping_site' %}">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
              {{ field }}
              {% if field.errors %}
                <small class="text-danger">{{ field.errors }}</small>
              {% endif %}
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary btn-block mt-3">Пингнуть</button>
        </form>

        {% if result %}
          <div class="mt-4">
            <h4 class="text-center">Результат пинга:</h4>
            <pre>{{ result }}</pre>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
